<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SayanSarkar.me</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 5% auto;
            max-width: 600px;
            background: #f4f4f4;
            padding: 2em;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <h1>Hello, I'm {{ name }} 👋</h1>
    <p>I’m a Software Engineer. Passionate about scalable systems and learning large language models.</p>
    <p></p>
    <p>Welcome to my corner of the web!  🚀</p>
</body>
</html>
